.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
    cursor: pointer;
}

.calendar-panel {
    height: 40vh;
    border-radius: 30px;
}

.calendar-panel * {
    margin-top: 20vh;
    transition: margin-top 2s;
}

.calendar-panel:hover img {
    margin-top: 10vh;
}